/*show.css*/

.show-user h1 {font-family: 'Black Ops One', cursive;
	text-align: left;
	padding: 0px 10px;
	margin: 10px 0px 5px 0px;
	font-size: 50px;
}

.show-user h2 {text-align: left;
	font-family: 'Oswald', 'sans-serif';
	padding: 0px 20px;
	margin: 5px 0px 10px 0px;
}

/*to use, add 2 classes to the html element*/
.show-user .padded {
	padding: 3px 30px;
}

.show-user .slogan {
	font-family: 'Oswald', 'sans-serif';
  font-size: 18px;
 }


.show-user .slogan-list {
	width: 600px;
}

.show-user .slogan-list .row {
	padding: 3px 30px;
	width: 600px;
	overflow: hidden;
}

.show-user .slogan-list .slogan {
	padding-right:25px;
	float:left;
	font-weight:bold
}

.show-user .slogan-list .vote {
	float:left;
}

.show-user .slogan-list .points {
	padding:5px;
	float:left;
	font-size:11px;
}

.show-user .add-slogan {
  width:600px;
  overflow:hidden;
  margin-top:10px;
  clear:right;
}


.show-user .add-badge {
	font-family:'Oswald','sans-serif';
	font-size:24px;
	padding:3px;
	float:left;
	vertical-align:center;
}


.show-user .badge-form {
	float:left;
	padding:3px;
}

.show-user .add-slogan-button{
	max-width:25px; 
	max-height:25px;
}


.show-user .nav {
	font-family:'Oswald','sans-serif';
	font-weight: bold;
	width:100%;
	display: inline;
	overflow:hidden;
	margin-top:10px;
	font-size:26px;
	padding:3px;
	float:left;
	vertical-align:center;
}

.show-user .nav .next {
	display: inline;
}

.show-user .nav .pipe-separator {
	display: inline;
	padding: 20px;
}

.show-user .nav .all {
	display: inline;
}

.show-user .nav .previous {
	display: inline;
}

.show-user button {
	padding:1px;
	vertical-align:bottom;
	border: 0; 
	background: transparent;
}
